caugetch==0.0.1
clipboard==0.0.4
colorama==0.4.4
DateTime==4.4
et-xmlfile==1.1.0
getpass4==0.0.14.1
jdcal==1.4.1
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.1
Pillow==9.0.1
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.1
secure-smtplib==0.1.1
setuptools==65.5.1
six==1.16.0
XlsxWriter==3.0.3
pycaret==2.3.10